* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.HEADER {
  position: fixed;
  background-color: rgba(17, 17, 17, 0.75);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
  height: 66px;
  width: 100%;
}

.NAVIGATION {

}

.STATUS-OPEN {

}

.STATUS_OPEN-VISUALS {
  position: fixed;
}
#ACTION-6{
  transition: opacity .315s ease-in-out, transform .315s ease-in-out;
  transform: translateY(0);
}
#ACTION-6.clicked {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  
}

.STATUS_OPEN-VISUALS-LOGO {
  width: 100px;
  height: 100px;
  margin-top: 68px;
  margin-left: 14px;
  position: fixed;
  transition: ease-in-out .3s;
  background-image: url(Status_Open-Logo.png);
  background-repeat: no-repeat;
  background-size: 120px;
  background-position: -11px -72px;
  opacity: 60%;
  z-index: 1;
}

#ACTION-4.hovered{
  margin-left: 19px;
  opacity: 100%;
}

.STATUS_OPEN-VISUALS-LOGO-EXTENSION {
  width: 80px;
  height: 60px;
  margin-top: 80px;
  margin-left: 62px;
  position: fixed;
  transition: ease-in-out .3s;
  background-image: url(Status_Open-Logo_Extension.png);
  background-repeat: no-repeat;
  background-size: 65px;
  background-position: 10px 12px; /* Horizontal.px, Vertical.px || (+).px is down, (-).px is up*/
  z-index: 0;
}

#ACTION-3.hovered {
  margin-left: 67px;
}

.STATUS-OPEN_CONTROL {
  
}

.STATUS-OPEN_CONTROL-BUTTON {
  width: 35px;
  height: 30px;
  margin-top: 97px;
  margin-left: 93px;
  position: fixed;
  border: none;
  border-radius: 10px;
  transition: ease-in-out .3s;
  cursor: pointer;
  opacity: 0;
}

#ACTION-2.hovered { /* Button */
  width: 42px;
}

.STATUS-OPEN_CONTROL-BUTTON_VISUALS {
  width: 30px;
  height: 30px;
  margin-top: 97px;
  margin-left: 94px;
  rotate: 180deg;
  position: fixed;
  transition: ease-in-out .3s;
  background-image: url(Pointer.png);
  background-repeat: no-repeat;
  background-size: 38px;
  background-position: -2px -4.4px; /* Horizontal.px, Vertical.px || (+).px is down, (-).px is up*/
  opacity: 50%;
}

#ACTION-1.hovered { /* Button-Visuals */
  margin-left: 101px;
  opacity: 100%;
}

.STATUS_CLOSE {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity .315s ease-in-out, transform .315s ease-in-out;
}

#ACTION-9.clicked {
  opacity: 1;
  transform: translateY(0);
}

.STATUS_CLOSE-VISUALS {
  position: fixed;
}

.STATUS_CLOSE-VISUALS-LOGO-EXTENSION {
  width: 80px;
  height: 60px;
  margin-top: 92px;
  margin-left: 384px;
  position: fixed;
  transition: ease-in-out .3s;
  background-image: url(Status_Open-Logo_Extension.png);
  background-repeat: no-repeat;
  background-size: 65px;
  background-position: 10px 12px; /* Horizontal.px, Vertical.px || (+).px is down, (-).px is up*/
  z-index: 0;
}

#ACTION-10.hovered {
  margin-left: 383px;

}

.STATUS-CLOSE_CONTROL {

}

.STATUS-CLOSE_CONTROL-BUTTON_VISUALS {
  width: 30px;
  height: 30px;
  margin-top: 111.5px;
  margin-left: 414px;
  position: fixed;
  transition: ease-in-out .3s;
  background-image: url(Pointer.png);
  background-repeat: no-repeat;
  background-size: 34px;
  background-position: -2px -4.4px; /* Horizontal.px, Vertical.px || (+).px is down, (-).px is up*/
  opacity: 60%;
}

#ACTION-7.hovered {
  margin-left: 410px;
  opacity: 100%;
}

.STATUS-CLOSE_CONTROL-BUTTON {
  width: 35px;
  height: 30px;
  margin-top: 109.5px;
  margin-left: 413px;
  position: fixed;
  border: none;
  border-radius: 10px;
  transition: ease-in-out .3s;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#ACTION-8.hovered {
  width: 43px;
  margin-left: 405px;
}

#ACTION-8.clicked {
  display: block;
}

.STATUS_WINDOW {
  position: fixed;
  height: 615px;
  width: 375px;
  margin-left: 20px;
  margin-top: 90px;
  border-radius: .73rem;
  background-color: #3b4354;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity .315s ease-in-out, transform .315s ease-in-out;
  opacity: 0;
}

#ACTION-5.clicked {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

#ACTION-5.changed {
  margin-top: 90px;
  opacity: 1;
}

.STATUS_WINDOW-CONTENT {
  position: fixed;
  width: 375px;
  height: 480px;
  background-color: cyan;
  margin-top: 118px;
}
.STATUS_WINDOW-CONTENT_PHASE-ONE {
  position: fixed;
  background-color: red;
  width: 120px;
  height: 480px;
  overflow-x: auto;
  
}
.STATUS_WINDOW-CONTENT_PHASE-ONE::-webkit-scrollbar {
  display: none;
}
.STATUS_WINDOW-CONTENT_PHASE-ONE-CONTAINER{
  display: flex;
  flex-direction: column;
}
.STATUS_WINDOW-CONTENT_PHASE-ONE_ITEMS {  
  background-image: url(select_background.png);
  background-repeat: no-repeat;
  background-position: 62px;
  background-color: blue;
  background-color: #323947;
  outline: 1px solid #3b4354;
  outline-offset: -.2rem;
  height: 65px;
  width: 100%;
  font-size: 12x;
  border: none;
  color: #ccc;
  font-family: tahoma;
}
.STATUS_WINDOW-CONTENT_PHASE-ONE_ITEMS:hover {  
  color: white;
}

.STATUS_WINDOW-CONTENT_PHASE-TWO{
  background-color: green;
  position: fixed;
  margin-left: 120px;
  width: 255px;
  height: 480px;
}
